.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
    box-shadow: 1px 0px 6px var(--shadow);
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    z-index: 50;
}

.headerHeight {
    height: 64px;
}

.headerName {
    font-size: 21px;
    font-weight: 700;
}

.headerSettings {
    height: 44px;
}

.link {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    width: 44px;
    height: 44px;
    padding: 6px;
}

.linkImage {
    height: 100%;
}

@media (prefers-color-scheme: dark) {
    .linkImage {
        filter: invert(100%);
    }
}